extends layout

block content
	.about-wrapper
		.practitioner
			.portrait-container
				img(src="#{ownerImg}" alt="#{ownerName} portrait")
			.about-practitioner
				p #{ownerBio1}
				br
				p #{ownerBio2}
	
		.reviews
			.grid-size
			each review in reviews
				.review
					.author-info
						img(src="#{review.img}" alt="#{review.name}")
						p(class="name")
							strong #{review.name}
						p(class="date") #{review.date}
						.rating
							span(class="review-score")
								- for (var x = 0; x < 5; x++)
									if x < review.rating 
										span(class ="glyphicon glyphicon-star filled")
									else if x >= review.rating
										span(class ="glyphicon glyphicon-star")
					.review-text
						.text
							p 
								i(class="fa fa-quote-left" aria-hidden="true")
								|    #{review.text}
								i(class="fa fa-quote-right" aria-hidden="true")