extends layout

block content
	div(class="slick-container")
		div(class="intro" id="greeting")
			.welcome
				h1 Enjoy a session! 
				h3 Tailored to your specific needs and desires
				.text-holder
					h4
						i(class="fa fa-quote-left" aria-hidden="true") 
						|  &nbsp;Featuring acupuncture, aromatherapy, reflexology, stretching, and deep tissue, Swedish, sports, injury, and structural massages. Become stress free, regain range of motion, eliminate pain, heal from an injury faster, and transform into a more vibrant, healthier you. Heal and evolve within a profoundly soothing setting, among candles, essential oils, relaxing music, and décor. A truly Zen experience.&nbsp; 
						i(class="fa fa-quote-right" aria-hidden="true")
				
				a(href="http://clients.mindbodyonline.com/ws.asp?studioid=172922&stype=-98" alt="Book Today") 
					h4 Book Your Appointment Today !

		div(class="intro" id="services")
			.service-intro-holder
				h1 Pricing Made Easy!
				.price-holder
					each plan in plans
						.plan-container
							h2 #{plan.time}
							h3.title #{plan.title}
							h4 #{plan.price}
		
		div(class="intro" id="reviews")
			.testimonials-holder
				h1 Testimonials
				.grid
					each review in reviews
						.div(class="grid-item index-testimonial")
							.author-info
								img(src="#{review.img}" alt="#{review.name}")
								p(class="name")
									strong #{review.name}
								p(class="date") #{review.date}
								.rating
									span(class="review-score")
										- for (var x = 0; x < 5; x++)
											if x < review.rating 
												span(class ="glyphicon glyphicon-star filled")
											else if x >= review.rating
												span(class ="glyphicon glyphicon-star")
							.review-text
								.text
									p 
										i(class="fa fa-quote-left" aria-hidden="true")
										|    #{review.text}
										i(class="fa fa-quote-right" aria-hidden="true")
				
			



